@keyframes slideUpFade {
  /* 0s → 0.5s (slide up + fade in) */
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  18% {
    transform: translateY(0);
    opacity: 1;
  }

  /* 1s → 2.5s (stays visible for 2.5s) */
  84% {
    transform: translateY(0);
    opacity: 1;
  }

  /* 2.5s → 3s (slide down + fade out) */
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* total duration = 3s (0.5 + 2.5 + 0.5) */
.animateSlideUpFade {
  animation: slideUpFade 3s ease-in-out forwards;
}
